DATABASE_URL="mysql://root:123456@localhost:3306/agendalogo"
JWT_SECRET="@indei@s"
JWT_EXPIRES_IN="1d"
CANCELAMENTO_HORAS_LIMITE=2
CORS_ORIGIN="*"
RATE_LIMIT_TTL=60
RATE_LIMIT_LIMIT=120
PORT=3000
HOST="0.0.0.0"
SWAGGER_PATH="docs"
